*{
    margin:0px;
    padding:0px;
    border:0px;
    box-sizing: border-box;
}
body{
    background-color: teal;
}
h1{
    text-align: center;
    font-size: 100px;
    color:rgb(118, 221, 221);
  }

#app{ 
    background-color: rgb(118, 221, 221);       
    min-height:300px;
    max-width: 80%;
    margin:auto;
    text-align:center;
}
input{
    height:25px;
}
.replace{  
    display: block;
    margin: auto;
    margin-top:3px;
}
button{
    color:white;
    height:24px;
    width:7.2rem;
    background-color:rgb(87, 80, 190) ;
}
button:hover{
    color:rgb(253, 66, 66);
}

ol{
    margin:auto; 
    list-style-type: none;
}

li{
    
    margin:3px;
    position: relative;
    font-size:22px;
    background-color:teal;
    border-radius:0px 20px 20px 0px;
    color:white;
    display:inline-block;
    min-width: 99%;
}
li:nth-child(odd){
background-color: rgb(107, 129, 129);
}
 li>button{
 float:right;
 margin-right: 10px;
 margin-top:2px;;

}
li>input{
    float: right;
    margin-top:5px;
}
    
.panel{
width:80%;
margin: auto;
}
.panel>button{
    float: right;
    margin-left: 10px;
}
